In [6]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import requests
from census import Census
from us import states

# Census API Key
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2014)

In [14]:
# Run Census Search to retrieve data on all states
# All fields from here: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b
census_data = c.acs5.get(("NAME",
                          "B19013_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_021E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",
                          "B17001_002E",
                          "B23025_002E",
                          "B23025_005E",
                          "C24010_007E",
                          "C24010_043E",
                          "B01002_001E",
                          "B01002_002E",
                          "B01002_003E",
                          "B01003_001E",
                          "B25064_001E",
                          "B25077_001E",
                          "B25077_001E",
                          "B08136_003E",
                          "B08136_007E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B19013_001E": "Household Income", 
                                      "B19301_001E": "Income Per Capita",
                                      "B15003_002E": "Education None",
                                      "B15003_017E": "Education High School",
                                      "B15003_018E": "Education GED",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_021E": "Education Associates",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",
                                      "B15003_025E": "Education Doctorate",
                                      "B17001_002E": "Poverty",
                                      "B23025_002E": "Employment Labor Force",
                                      "B23025_005E": "Employment Unemployed",
                                      "C24010_007E": "Employment Male Computer Engineering",
                                      "C24010_043E": "Employment Female Computer Engineering",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B01003_001E": "Population",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B08136_003E": "Commute Time (Solo)",
                                      "B08136_007E": "Commute Time (Public Transport)",
                                      "zip code tabulation area": "Zip Code"})

census_pd.head()

,Median Age,Median Male Age,Median Female Age,Population,Commute Time (Solo),Commute Time (Public Transport),Education None,Education High School,Education GED,Education Associates,...,Household Income,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,Employment Male Computer Engineering,Employment Female Computer Engineering,NAME,Zip Code
0,37.1,36.2,38.9,18088,101325,None,409,2913,108,672,...,10833,7229,6037,1992,367,105400,42,14,ZCTA5 00601,00601
1,39,38.5,39.7,40859,None,None,918,4497,891,3927,...,16353,9048,15643,4347,411,91200,150,73,ZCTA5 00602,00602
2,39.2,37.4,40.8,53162,None,None,1044,8390,1537,3180,...,16323,9888,16453,4053,369,128700,354,138,ZCTA5 00603,00603
3,39.2,37.7,39.6,6415,32300,None,169,1558,42,79,...,14138,6385,1873,172,326,105800,10,0,ZCTA5 00606,00606
4,39.7,36.8,41.3,28805,146795,None,379,6005,742,1243,...,17265,8197,9328,1291,419,113700,128,47,ZCTA5 00610,00610

In [15]:
# Confirm that no fields are missing using the key below
census_pd.columns

Index(['Median Age', 'Median Male Age', 'Median Female Age', 'Population',
       'Commute Time (Solo)', 'Commute Time (Public Transport)',
       'Education None', 'Education High School', 'Education GED',
       'Education Associates', 'Education Bachelors', 'Education Masters',
       'Education Professional', 'Education Doctorate', 'Poverty',
       'Household Income', 'Income Per Capita', 'Employment Labor Force',
       'Employment Unemployed', 'Median Gross Rent', 'Median Home Value',
       'Employment Male Computer Engineering',
       'Employment Female Computer Engineering', 'NAME', 'Zip Code'],
      dtype='object')

In [16]:
# Save the csv
census_pd.to_csv("2014_census.csv")